
  .container-cards_regist .card .box .content .forma h3{
    height: 30px;
  }
  .container-cards_regist .card .box .content .forma{
    height: 400px;
  }
  .container-cards_regist .card .box .content .forma .botao{
    display: flex;
    margin-top: 10px;
  }

 
 