/* Estilo para a div wrapper */
.downloadBtn{
	position: fixed !important;
	top: 72px !important;   
	right: 60px !important; 
	margin-right: 13px !important;
	background: linear-gradient(#5c48ee, #9b8eff ) !important; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c48ee', endColorstr='#9b8eff') !important;
	text-decoration: none !important; 
	color: #fff !important; /* cor do texto */
	
	padding: 10px 20px !important; /* preenchimento interno */
	border: none !important;
	border-radius: 5px !important;
	cursor: pointer !important;
	z-index: 1000 !important; /* para garantir que esteja sempre na parte superior */
  }
  
  .downloadBtn:hover{
	
	background: linear-gradient(#9b8eff, #5c48ee ) !important; 
  }
  #root > div > main > div > div.papel > div.capax{
	margin-bottom: 8px !important;  
	height: auto !important;
  }
  #root > div > main > div > div.papel > div.conteudo-wrapper, .capax{
	margin-top: 30px !important;
	margin-right: 90px !important;
	margin-left: 80px !important;
	padding: 40px !important;
  }
    
 .conteiner.content, .conteiner.duble{ 
	margin-left: 80px !important;
	margin-right: 50px !important; 
	margin-top: 60px !important;
	margin-bottom: 60px !important;

	padding: 2px !important;
	
	background: linear-gradient(46deg, rgb(233, 255, 246), rgb(185, 157, 189));
	box-sizing: border-box;
      border: 2px solid rgb(109, 108, 108); 
	height: 120vh;
  }
  .conteiner.duble, .papel-wrapper{ 
	margin-left: 0 !important;
	margin-right: 0 !important; 
	margin-top: 0 !important;
	padding: 0 !important;
	background: white !important;
	height: 118.7vh !important;
  }
  #root > div > main > div > div.papel{
	height: 110vh !important; 
  }
  
  #root > div > main > div > div.papel > div{
	height: auto !important;
  }
  .papel-wrapper{
	margin-left: 0 !important;
	margin-right: 0 !important; 
	margin-top: 60px !important;
	padding: 0 !important;
	background: white !important;
	height: 190vh !important;
  }
  #root > div > main > div > div.papel > div.capax > div > div > h2, div > h2{
	align-items: center;
	text-align: center;
	padding: 2px !important;
	
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	font-weight: bold;
  }
  #root > div > main > div > div.papel > div.capax > div > div > h2:nth-child(1){
	padding-top: 20px !important; 
  } 
  #root > div > main > div > div.papel > div.capax > div > div > h2:nth-child(2), h2:nth-child(3) {
	padding-top: 30px !important; 
  } 
  #root > div > main > div > div.papel > div.capax > div > div > div{
	display: flex;
	margin-top: 220px !important;
	flex-wrap: nowrap;
	justify-content: space-around;
  } 

  #root > div > main > div > div.papel > div.capax > div > div > div > h2 {
	font-size: 18px !important;
  }
  #root > div > main > div > div.papel > div.capax > div > div > h2:nth-child(5){
	font-size: 18px !important;
	margin-top: 290px !important;
  }

  #root > div > main > div > div.papel > div.conteudo-wrapper > div > div> p > ul > li,
  #root > div > main > div > div.papel > div.conteudo-wrapper > div > div > h3,
  #root > div > main > div > div.papel > div.conteudo-wrapper > div > div > p > p{
	padding-left: 80px !important; 
	padding-right: 60px !important;
	padding-bottom: 25px !important;
	text-align: justify !important;
	font-family: 'Times New Roman', Times, serif !important;
	line-height: 32px !important;
	font-size: 20px !important;
  }   
  #root > div > main > div > div.papel > div.conteudo-wrapper > div > div > h3{
	padding-bottom: 5px !important;
  }
  #root > div > main > div > div.papel > div:nth-child(31) > div > div > p > div,
  #root > div > main > div > div.papel > div  > div > div > p > ul > li > strong,
  #root > div > main > div > div.papel > div.conteudo-wrapper > div > div > p > p > strong{
    font-size: 16px !important;
  }
/* Estilo para a div wrapper */
.papel{
	height: calc(100vh - 56px);
	overflow-y: auto;
}
.conteudo-wrapper, .capax{
	box-shadow:  1px 1px 20px 3px #ceced8;
	margin-top: 20px;
	margin-left: 20%;
	margin-right: 20%;
	background-color: white;
	background-image: none;
	box-sizing: initial;
	padding-left: 80px;
	padding-top: 16px;
	padding-right: 50px; 
    padding-bottom: 40px; 
    
	

}
#root > div > main > div > div{ 
	height: 10vh !important;
}


  /* Estilo para o título do tema */
  .titulo-tema {
	font-size: 24px;
	margin-bottom: 20px;
	text-align: center; /* Centraliza o texto */
  }
  
  /* Estilo para a lista de títulos */
  .lista-titulos {
	list-style: none;
	padding: 0;
  }
  
  /* Estilo para cada item de título */
  .item-titulo {
	margin-bottom: 10px;
	text-align: center; /* Centraliza o texto */
  }
  
  /* Estilo para o título de cada item */
  .titulo {
	display: flex;
	flex-wrap: wrap;
	font-size: 20px;
	color: #3a3a3a;
	font: 20px 'Lato', sans-serif;
	margin: 0px 0px 1px;
	text-shadow: 2px 2px 4px rgba(77, 77, 77, 0.5);
	font-weight: bold;
  }
  
  /* Estilo para o texto de cada item */
  .texto {
	font-size: 16px;
	color: #4b4f58;
	font: 16px lora, serif;
	margin: 0px 0px 1px;
	line-height: 1.8;
  } 
  
  /* Outros estilos do seu CSS */
  @media(max-width: 430px) {
	.conteudo-wrapper { 
		margin-top: 20px;
		width: 85%;
	    margin: 0;
		margin-left: 10px;
		margin-right: 0;
		padding-left: 30px;
		padding-top: 16px;
		padding-right: 20px; 
		padding-bottom: 40px; 
	}
	.downloadBtn {  
		margin-right: 1px !important;
		right: 5px !important;
	}
  }

  @media(max-width: 820px){
	.conteudo-wrapper { 
		margin-top: 20px;
		width: 85%;
	    margin: 0;
		margin-left: 10px;
		margin-right: 10px;
		padding-left: 20px;
		padding-top: 16px;
		padding-right: 20px; 
		padding-bottom: 40px; 
	}
	 
  }
  @media(max-width: 1024px){
	.conteiner.content,   .conteiner.duble {
		margin-left: 10px !important;
		margin-right: 10px !important;
		margin-top: 10px !important;
		margin-bottom: 10px !important;
		padding: 2px !important; 
		font-size: 16px !important;
		height: 87.7vh !important;
	}
 
.conteiner.duble, .papel-wrapper {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    padding: 0 !important;
    background: white !important;
    height: 87.4vh !important;
}
	  .conteiner.duble {
		margin-left: 1px !important;
		margin-right: 1px !important;
		margin-top: 1px !important;
		margin-bottom: 1px !important;
		padding: 2px !important; 
		font-size: 12px !important; 
	}#root > div > main > div > div.papel > div.capax > div > div > div > h2,
	#root > div > main > div > div.papel > div.capax > div > div > h2, div > h2 {
		font-size: 16px !important; 
	}
	#root > div > main > div > div.papel > div.capax > div > div > h2:nth-child(5) {
		font-size: 16px !important;
		margin-top: 190px !important;
	}
	.navbar .conteiner_list .lists {
		display: none !important;  
	}
	#root > div > main > div > div.papel > div.capax > div > div > div { 
		margin-top: 200px !important; 
	}
	.main-content{
		height: 100vh !important;
	}
	#root > div > main > div > div.papel {
		height: 100vh !important;
	}
	#root > div > main > div > div.papel > div.conteudo-wrapper, .capax {
		margin-top: 30px !important;
		margin-right: 1px !important;
		margin-left: 1px !important;
		padding-right: 5px !important;
		padding-left: 5px !important;

	}
	#root > div > main > div > div.papel > div.capax {
		margin-left: 5px !important;
		margin-right: 5px !important;
	}
	#root > div > main > div > div.papel > div.conteudo-wrapper > div > div> p > ul > li, #root > div > main > div > div.papel > div.conteudo-wrapper > div > div > h3, #root > div > main > div > div.papel > div.conteudo-wrapper > div > div > p > p {
		padding-left: 19px !important;
		padding-right: 10px !important;
		padding-bottom: 25px !important; 
		font-size: 17px !important; 
	}
	 
	.papel-wrapper {
		margin-left: 0 !important;
		margin-right: 0 !important;
		margin-top: 1px !important;
		padding: 0 !important;
		background: white !important;
		height: auto !important;
	}
	.downloadBtn {  
		margin-right: 1px !important;
		right: 5px !important;
	}
  }
  @media (max-width: 280px) {
	.conteudo-wrapper { 
		margin-top: 20px;
		width: 85%;
	    margin: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: 30px;
		padding-top: 16px;
		padding-right: 20px; 
		padding-bottom: 40px; 
	}
	.downloadBtn {  
		margin-right: 1px !important;
		right: 4px;
	}
  }
  
  
  