 
:root {
    --primary-color: #6653f8;
    --fundo-color: #c0b8ff;
    --cor-fndo-claro: #dedaff;
    --claro-color: #9b8eff;
    --primary-color-dark: #0f1e6a;
    --secondary-color: #f9fafe;
    --text-color: #333333;
    --white: #ffffff;
    --max-width: 1200px;
}
 .conteiner-topic{
    padding-right: 30px !important;
    padding-top: 20px !important;
 } 
 .conteiner-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    width: 100%;  
    margin-left: 20px !important; 

 }
 .bg-blue-500{
   padding: 10px !important;
 }
 .card{
    display: flex;
    background: linear-gradient(4deg, var(--primary-color), var(--claro-color));
    padding: 20px !important;
    padding-right: 10px !important;
    margin-right: 10px !important;
     max-width: 250px !important;  
    margin-bottom: 10px !important;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1) !important;
    transition: 1s;
 }
 .card:hover{
   transition: 1s;
   background: linear-gradient(41deg, var(--claro-color), var(--primary-color));
 }

 .titulo.topic, .data.text-gray-700{
   color: #dedaff;
   text-align: center;
   font-weight: bold;

 } 
 #root > div > div > .conter-btn,
 #root > div > main > div > div > div > div > div.conter-btn{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
 }
 #root > div > div > .confirmo-sim{
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  padding: 20px !important;
 }
 #root > div > div > div > button.destroy:hover,
 #root > div > main > div > div > div > div > div.conter-btn > .destroy:hover{
  background: linear-gradient(-60deg, rgb(216, 97, 97), rgba(160, 32, 32, 0.603));
 }
 #root > div > div > div > button.destroy,
 #root > div > main > div > div > div > div > div.conter-btn > .destroy{
  padding: 10px 20px !important;
  background: linear-gradient(60deg, rgb(216, 97, 97), rgba(160, 32, 32, 0.603));
  border-radius: 5px !important;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
 }
 #root > div > main > div > div > div  > div > div.conter-btn > button.bg-blue-500.text-white.font-bold.py-2.px-4.rounded:hover{
  background: linear-gradient(60deg, rgb(67, 231, 231), rgba(72, 72, 197, 0.781))
 }
 .mb-8{
   height: 85%;
 } 
 .confirmar-exclusao{
  display: flex;
  position: absolute !important;
  margin-left: 50% !important;
  padding-top: 70px !important;
  flex-direction: column !important;
  transform: translate(-50%) !important;
  background: linear-gradient(40deg, #f0f0f1d8, #b2a7ff);
  padding: 20px !important;
  top: 70px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1) !important;
  
 }
 #root > div > div > .se-confir-exlusao{
  color: red;
  font-weight:  bold !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-size: 20px !important;
 }
 @media(max-width: 1020px){
  .confirmar-exclusao{
    width: 80%;
  }
   .card{
      max-width: 95% !important; 
      width: 96% !important;
   }

   .papel { 
    width: 100% !important; 
  }
  .conteudo-wrapper{
    width: 100% !important;
  }
  .views_info{
    width: 95% !important;
    margin-left: 10px !important;
  }
  .mb-8{
    height: 75% !important;
  } 
  

 }