:root {
    --primary-color: #5c48ee;
    --fundo-color: #c0b8ff;
    --cor-fndo-claro: #dedaff;
    --claro-color: #9b8eff;
    --primary-color-dark: #0f1e6a;
    --secondary-color: #f9fafe;
    --text-color: #333333;
    --white: #ffffff;
    --max-width: 1200px;
 

  }
/* Exemplo de aplicação das cores personalizadas */
#main-header {
    background-color: var(--primary-color);
}

.sidebar-dark .sidebar {
    background-color: var(--primary-color-dark);
}

.nav-sidebar .nav-item.active a.nav-link {
    background-color: var(--primary-color-dark);
}
