.code-block{
    padding: 20px !important;
    .code-header{
        padding: 2px 20px !important;
    }
    .codes{
        padding: 20px !important;  
        border-top-left-radius: none !important;
      }
}
.message{
    width: 100% !important;
}