.fade-enter {
    opacity: 0;
    transform: translateY(20px);
  }
  .fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
  }
  .fade-exit {
    opacity: 1;
    transform: translateY(0);
  }
  .fade-exit-active {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 500ms, transform 500ms;
  }
  
.home-styled {
    width: 83vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .content {
        width: 100% !important;
        bottom: 1px !important;
        align-items: center !important;
        .chat.papel{
            width: 100% !important;
            padding-bottom: 60px !important;
            padding-left: 123px !important;
            padding-right: 112px !important;
            padding-top: 20px !important;
            top: 60px !important; 
            .chat-conteiner{
                width: 100% !important;
            }
        }

        .title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
    
            h1 {
                font-size: 56px;
                line-height: 64px;
                background: var(--gradient);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 500;
                letter-spacing: -1.5px;
            }
    
            h2 {
                font-size: 56px;
                line-height: 64px;
                opacity: .2;
                font-weight: 500;
                letter-spacing: -1.5px;
            }
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
            padding: 75px 0;

            .item {
                cursor: pointer;
                padding: 15px;
                border-radius: 15px;
                background: var(--black-1);
                position: relative;
                aspect-ratio: 1;

                span {
                    position: absolute;
                    right: 15px;
                    bottom: 15px;
                    background: var(--black-0);
                    padding: 10px;
                    border-radius: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:hover {
                    background: #333;
                }
            }
        }
    }
}