.search-styled {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    font-size: large;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    gap: 10px;

    div {
         
        display: flex;
        align-items: center;
        gap: 25px;
        width: 850px;
        padding: 0 25px !important;
        background: var(--black-1) !important;
        border-radius: 50px;
        min-height: 50px; 
        
        textarea {
            width: 100% !important; 
            max-height: 100px;  
            padding: 25px; 
            border: none;
            border-radius: 5px;
            font-size: 16px;  
            resize: none;  
            overflow-wrap: break-word;  
            box-sizing: border-box; 
            outline: none;
            align-content: center;
            background: var(--black-1);
            color: var(--black-3);
        }
        .files,
        .microfone,
        .send-button {
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--black-3)
        }

        .files:hover {
            color: #b700ff; /* Cor ao passar o mouse */
        }
        .microfone:hover {
            color: #b700ff; /* Cor ao passar o mouse */
        }
        .send-button:hover {
            color: #007bff; /* Cor ao passar o mouse */
        }
    }        

    p {
        font-size: small;
        opacity: .5;
    }
}

#roo{
    div{
        div{
            div.search-styled {
                div{
                    editor-squiggler{
                        display: none !important;
                    }
                }
            }
        }
    }
}  